:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-brand-color: #4d5ae5; /* CTAs, focused, active links */
  --pressed-state-color: #404bbf; /* CTAs */
  --dark-color: #2e2f42; /* Overlays, Shadows, Headinngs */
  --success-color: #31d0aa; /* Valid fields, success messages */
  --text-color: #434455; /* Body text */
  --subtle-color: #8e8f99; /* Helper text, Deemphasized text*/
  --accent-color: #e7e9fc; /* Accent color, Hairlines, Subtle backgrounds */
  --light-color: #f4f4fd; /* Light mode backgrounds, Light mode Dialogs/alerts */
  --modal-overlay-color: #2e2f42; /* Overlay */
  --hero-background-color: #2e2f42; /* Hero image background */
  --white-background-color: #fff; /* Header, team card background,  */
  --modal-background-color: #fcfcfc; /* Modal background */
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--white-background-color);
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  border: none;
}

img {
  display: block;
}

main {
  flex-grow: 1;
}

.list {
  list-style: none;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title,
.cards-title {
  color: var(--dark-color);
  letter-spacing: 0.02em;
}

.section-title {
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
}

.main-title,
.section-title {
  line-height: 1.11;
}

/* LOGO */

.logo {
  text-transform: uppercase;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo span {
  color: var(--primary-brand-color);
}

.dark-logo {
  color: var(--dark-color);
}

.light-logo {
  color: var(--light-color);
}

/* HEADER */

.header-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 76px;
  align-items: center;
}

.navigation-menu,
.contacts-list {
  display: flex;
  /* align-items: center; */
  gap: 40px;
}

.contacts {
  font-style: normal;
}

.contacts .link {
  font-weight: 400;
  color: var(--text-color);
}

.nav-links {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.nav-links:hover,
.nav-links:focus {
  color: var(--pressed-state-color);
}

/* SOLUTIONS SECTION */

.solutions-section,
footer {
  background-color: var(--dark-color);
}

.solutions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 600px;
}

.main-title {
  color: var(--white-background-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  padding-top: 188px;
  margin-bottom: 48px;
}

.order-btn {
  background-color: var(--primary-brand-color);
  color: var(--white-background-color);
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* OUR TEAM SECTION */

.our-team-section {
  background-color: var(--light-color);
}

.order-btn,
.filters-btn {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.filters-btn {
  background-color: var(--light-color);
  color: var(--primary-brand-color);
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-background-color);
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--pressed-state-color);
}

.cards-title {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  background-color: #fff;
}

.cards-text {
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.team-card {
  background-color: #ffffff;
}

.footer-text {
  color: var(--light-color);
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
